* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: darkgrey;
    color: black;
    padding: 40px 20px;
}
.container {
    width: min(100%, 460px);
    padding: 5px;
    border-radius: 8px;
}
.container .card{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
}
.Input_group input:valid ~ label {
    top: 0px;
    font-size: 10px;
    background-color: white;
    padding: 0 4px;
}
.Input_group {
    position: relative;
    width: 100%;
    margin: 10px 0;
}
.Input_group input, .Input_group select {
    width: 100%;
    padding: 8px 10px;
    border: 1.5px solid #068fff;
    border-radius: 4px;
    font-size: 12px;
}
.Input_group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #4f4d4d;
    font-size: 12px;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: white;
}
.Input_group input:focus + label,
.Input-group input:valid + label {
    top: -1px;
    font-size: 12px;
}
button {
    background-color: #5B51F4;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding:6px 2px;
    margin-bottom:10px;
    cursor:pointer;
    width: 100px;
    position: relative;
}
.neon-btn:hover {
    box-shadow: 0 0 8px #5155FF;
}
.Input_group input:hover, .Input_group select:hover{
    box-shadow: 0 0 5px #5155FF;
}
.table_container{
    width: min(100%, 800px);
    margin-top: 20px;
}
.card_table{
    width: 100%;
    overflow: auto;
}
table{
    width: 100%;
    min-width: 750px;
    border-collapse: collapse;
    background: #FFFFFF;
    border-radius: 8px;
}
th,td{
    padding:10px;
    text-align:center;
}
